@use "@/styles/colors" as *;
@use "@/styles/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black-5;
  padding: 16px;

  @include tablet {
    flex-direction: row;
    padding: 0;
  }

  .questionWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0 8px 0;

    @include tablet {
      align-items: start;
      padding: 110px 0 100px 40px;
    }

    @include desktop {
      align-items: start;
      padding: 133px 0 122px 80px;
    }

    .question {
      text-align: center;
      font-size: 18px;

      @include tablet {
        font-size: 24px;
        text-align: start;
        max-width: 624px;
      }

      @include desktop {
        font-size: 32px;
      }
    }
  }
}

.iconWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include tablet {
    display: none;
  }

  .mobileMenuIcon {
    background-color: transparent;
    width: 24px;
    height: 24px;
  }
}

.asideMenu {
  display: none;
  max-width: 376px;
  width: 100%;
  background-color: $white-100;

  @include tablet {
    display: flex;
  }
}

.mobileMenu {
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $black-5;
  z-index: 20;
  animation: slideIn 0.3s ease-in-out;
  overflow-y: auto;

  @include tablet {
    display: none;
  }

  &.closing {
    animation: slideOut 0.3s ease-in-out forwards;
  }
}

.mobileWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

