@use "@/styles/colors" as *;
@use "@/styles/breakpoints" as *;

$mobile-menu-animation-duration: 0.3s;
$desktop-padding-horizontal: 80px;
$tablet-padding-horizontal: 40px;
$mobile-padding: 16px;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $black-5;
  padding: $mobile-padding;

  @include tablet {
    flex-direction: row;
    padding: 0;
  }
}

.questionWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0 8px 0;

  @include tablet {
    align-items: start;
    padding: 110px 0 100px $tablet-padding-horizontal;
  }

  @include desktop {
    padding: 133px 0 122px $desktop-padding-horizontal;
  }

  .question {
    text-align: center;
    font-size: 18px;

    @include tablet {
      font-size: 24px;
      text-align: start;
      max-width: 624px;
    }

    @include desktop {
      font-size: 32px;
    }
  }
}

.iconWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include tablet {
    display: none;
  }

  .mobileMenuIcon {
    background-color: transparent;
    width: 24px;
    height: 24px;
  }
}

.asideMenu {
  display: none;
  max-width: 376px;
  width: 100%;
  background-color: $white-100;

  @include tablet {
    display: flex;
  }
}

.mobileMenu {
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $black-5;
  z-index: 20;
  animation: slideIn $mobile-menu-animation-duration ease-in-out;
  overflow-y: auto;

  @include tablet {
    display: none;
  }

  &.closing {
    animation: slideOut $mobile-menu-animation-duration ease-in-out forwards;
  }
}

.mobileWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
