@use "@/styles/colors" as *;

.notFoundWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.notFoundButton {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: $orange-100;
}
