@use "@/styles/colors" as *;
@use "@/styles/breakpoints" as *;

.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 16px;
  background-color: $white-100;

  @include tablet {
    padding: 60px;
  }

  @include desktop {
    padding: 80px;
  }
}

.background {
  background: linear-gradient(to bottom right, $white-100 50%, $orange-5 50%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include tablet {
    flex-direction: row;
    gap: 32px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 288px;

  @include tablet {
    max-width: 600px;
  }

  @include desktop {
    max-width: 624px;
  }
}

.responsiveImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 120px;

  @include tablet {
    gap: 48px;
    align-items: flex-start;
    text-align: left;
  }

  @include desktop {
    gap: 64px;
  }
}

.button {
  min-width: 288px;
  max-width: 296px;
  padding: 16px 12px;
  background-color: $orange-100;

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }
}
